@import url('./common.css');

/* Sector/Airspace information */
#feature-info-box {
  width: fit-content;
  max-width: 230px;
  display: none;
  position: fixed;
  pointer-events: none;
  z-index: 1100;
  border-radius: 6px;
  padding: 4px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.5);
  backdrop-filter: blur(1.6px);
  /*-webkit-text-stroke: 0.3px black;*/
}
.feature-info-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 5px 4px 5px;
  margin: 3px 1px 3px 1px;
  border-radius: 4px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.7);
}
.feature-info-header {
  display: flex;
  gap: 2px;
  align-items: flex-start;
}
.feature-info-pos {
  min-width: 140px;
  width: auto;
  font-weight: 700;
  white-space: normal;
  overflow: visible;
  margin-right: 6px;
}
.feature-info-altitudes {
  display: flex;
  flex-direction: column;
}
.feature-info-alt-row {
  display: flex;
}
.feature-info-low {
  width: fit-content;
  text-align: center;
  margin-right: 20px;
  white-space: nowrap;
  font-weight: 500;
}
.feature-info-high {
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
}
.feature-info-notes {
  font-size: 12px;
  font-weight: 500;
  padding: 6px 0px 0px 0px;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Notes hover box */
#notes-hover-box {
  z-index: 9999;
  pointer-events: none;
  max-width: 300px;
  background: var(--bg-one);
  color: var(--textcolor-dark);
  box-shadow: 0 0px 20px rgba(0,0,0,0.7);
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  max-width: 200px;
}

/* [UNUSED] Styles for notes under sector layer */
#sector-notes-container {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
  max-width: 90%;
  pointer-events: none;
}
.sector-note {
  display: flex;
  justify-content: space-between;
  background: var(--bg-one);
  color: var(--textcolor-dark);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.7);
  max-width: 300px;
  width: 100%;
  white-space: pre-wrap;
}
.sector-note-pos {
  font-weight: bold;
  margin-right: 10px;
  min-width: 20px;
  text-align: left;
}
.sector-note-content {
  flex: 1;
  text-align: left;
}

/* Style for the procedure labels */
.procedure-icon { /* Default leaftlet marker, we do not want this */
  background: none;
  border: 0 !important;
  box-shadow: none !important;
}
.procedure-label{
  top: 5px;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxshadow-center);
}
.procedure-text {
  flex: 1; 
  margin: 0px;
  font-size: 12px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.res-label{
  margin: 0px 2px 0px 2px;
}
/* AT OR ABOVE, display border on bottom */
.res-label.abv {
  border-bottom: 2px solid var(--textcolor-darker);
}
/* AT OR BELOW, display the border on top */
.res-label.blw {
  border-top: 2px solid var(--textcolor-darker);
}
/* AT, display both top and bottom */
.res-label.at {
  border-top: 2px solid var(--textcolor-darker);
  border-bottom: 2px solid var(--textcolor-darker);
}